.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    height: 60px;
    background-color: #fff;
    z-index: 10;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameUser {
    margin: 0 8px;
}

.linkUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.linkUserText {
    width: 50px;
    margin-left: 8px;
}